{% extends 'base.html' %}
{% load static %}

{% block title %}
Bootcamp
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'bootcamp.css' %}">
{% endblock css %}

{% block body %}
<h1 id="main_heading">6 months in-House Bootcamp Programme-kodr.</h1>
<button class="buttons">Starts on : 11 Nov 2024</button>
<button class="buttons">Placement Assisstance</button>
<i class="fa-solid fa-badge-check"></i>
<h1 id="price">Price <span>₹59000</span></h1>
<p id="cost">[50,00+ 18% Gst]</p>
<div id="big_cont"><h1 id="big_heading">we believe in, <span>Consistency</span>.No shortcuts.</h1></div>

<div id="course_division">
    <span class="courses">MERN stack ⚡</span>
    <span class="courses">Data structures & Algorithm 🗿</span>
    <span class="courses">DBMS-SQL🤘</span>
    <br>
    <span class="courses">CORE CS subjects 🛞</span>
    <span class="courses">Placement Assisstance 💰</span>
</div>

<h1 id="last_heading">Non-stop <span>5Hours</span> <br>Coding</h1>
<p id="timing">Monday To Saturday: 11AM to 4PM</p>
<h1 id="dominate">Dominate</h1>
<p id="victory">From Start To Victory.</p>

<iframe id="video_bcamp" width="560" height="315" src="https://www.youtube.com/embed/pOGLAlGCKFE?si=dA-o4n_E7rn_GKJf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<div id="course_list">
    <hr class="horizontal_line">
    <div class="complete_course">HTML/CSS</div>
    <hr class="horizontal_line">
    <div class="complete_course">JavaScript</div>
    <hr class="horizontal_line">
    <div class="complete_course">ReactJS</div>
    <hr class="horizontal_line">
    <div class="complete_course">Data Structures and Algorithms(DSA)</div>
    <hr class="horizontal_line">
    <div class="complete_course">Node.js and Express[Backend]</div>
    <hr class="horizontal_line">
    <div class="complete_course">Database</div>
    <hr class="horizontal_line">
    <div class="complete_course">Git/Github</div>
    <hr class="horizontal_line">
    <div class="complete_course">DevOps and Deployment</div>
    <hr class="horizontal_line">
    <div class="complete_course">Additional Topics</div>
    <hr class="horizontal_line">


</div>
<div id="footer" style="border-top: 2px solid grey; border-bottom: 2px solid grey; width: 88%; ">
    <div id="lets_connect">
        <img  id="lion_head" src="../static/images/Sheryians_logo.webp" alt="">
        <h1 id="lets_heading">Let's Connect with our Socials</h1>
        <img class="social_img"  src="../static/images/insta.png" alt="">
        <img  class="social_img" src="../static/images/linkedin.png" alt="">
        <img  class="social_img" src="../static/images/doco.png" alt="">
        <img  class="social_img" src="../static/images/youtube.png" alt="">
        <img  class="social_img" src="../static/images/twitter.png" alt="">
    </div>
    <div id="company_div">
        <h1 id="company">COMPANY</h1>
        Aboutus <br> <br>Support <br><br> Privacy Policy <br><br> Terms and Conditions <br><br> Pricing and refund <br><br>Hire from us <br><br> Bug Bounty
    </div>
    <div id="community_div">
        <h1 id="community">COMMUNITY</h1>
        inertia <br><br> Discard
    </div>
    <div id="touch_div">
        <h1 id="touch">Get in Touch</h1>
        +91 8125489632 <br><br>+91 9873462878 <br><br>hello@sheryians.com <br><br> 23-B,indrapuri Sector <br><br> C, Bhopal (MP),46021
    </div>
    <br>
    <div id="copyrights">
        Copyrights @2024 Sheryians_Pvt Ltd. All Rights Reserved 
    </div>
</div>
{% endblock body %}